<% include layouts/head %>

<!-- Site welcome -->
<div class="welcome" align="center">

  <!-- Welcome logo -->
  <div class="welcome-logo"></div>

  <!-- Welcome title -->
  <div class="welcome-title"><b>I</b>ntegration <b>S</b>ites <b>Mapper</b></div>

  <!-- Welcome buttons -->
  <a href="/project/demo" class="btn-outline btn-outline-white welcome-btn">Try it now</a>
  <a href="/upload" class="btn-outline btn-outline-white welcome-btn">Upload your data</a>

</div>



<% include layouts/foot %>
