<% include layouts/head %>

<!-- Site welcome -->
<div class="welcome" align="center">

  <!-- Welcome logo -->
  <div class="welcome-logo"></div>

  <!-- Welcome title -->
  <div class="welcome-title"><b>I</b>ntegration <b>S</b>ites <b>Mapper</b></div>

  <!-- Welcome buttons -->
  <a href="/project/demo" class="btn-outline btn-outline-white welcome-btn">Worked example</a>
  <a href="/upload" class="btn-outline btn-outline-white welcome-btn">Run</a>

</div>

<!-- Application description -->
<div class="grid main">

  <!-- About ISMapper -->
  <h2>About ISMapper</h2>
  <p><b>ISMapper</b> is an interactive web tool to manage sequencing data for the
  detection of viral insertion sites in gene therapy experiments. ISMapper carries out a
  fast mapping of the reads and present them in the context of the genome in a
  few seconds. Distinct context-specific information on the mapping sites, know
  cancer genes in the neighbourhood, etc. is provided both in graphical and tabular
  modes.</p>

  <!-- Documentation -->
  <h2>Documentation</h2>
  <p>Visit the <a href="https://github.com/biowt/ismapper/wiki" target="_blank">ISMapper Wiki</a> for a
  usage guide and tutorials.</p>

</div>

<% include layouts/foot %>
