
	<!-- Footer -->
	<div class="foot" align="center">

		<!-- Foot logo -->
		<a href="/" class="foot-logo"></a>

		<!-- Application info -->
		<b>ISMapper</b> - <b>I</b>ntegration <b>S</b>ites <b>Mapper</b><br>

		<!-- Application developers -->
		Created by Joaqu&iacute;n Dopazo, Joaqu&iacute;n T&aacute;rraga, Vicente Arnau and Jose M. Juanes.

	</div>
</body>
</html>
