<html>
<head>

	<!-- Metas tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<!-- Descripcion -->
	<meta name="description" content="An interactive web tool to manage sequencing data for the detection of viral insertion sites in gene therapy experiments.">
	<meta name="author" content="Joaquin Dopazo, Joaquin Tarraga, Vicente Arnau, Jose M. Juanes">
	<meta name="keywords" content="viral, bioinformatics, integration, sites, mapper, vismapper">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/opensans.css">
	<link rel="stylesheet" type="text/css" href="<%= site.vendor %>siimple/siimple.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Page title -->
	<title><%= title %><%= site.title %></title>

</head>
<body>

	<!-- Navbar -->
	<div class="navbar">

		<!-- Logo -->
		<a href="/" class="navbar-logo">VISMapper</a>

		<!-- Documentation -->
		<a href="https://github.com/jmjuanes/vismapper/wiki" class="navbar-item" target="_blank">Documentation</a>

		<!-- Upload -->
		<a href="/upload" class="navbar-item">Run</a>

		<!-- Try the app -->
		<a href="/project/<%= site.demo %>" class="navbar-item">Worked example</a>

		<!-- Home -->
		<a href="/" class="navbar-item">Home</a>

	</div>
